---
import { Image } from 'astro:assets'
import webDeveloper from '@assets/images/web-developer.png'
import webSiteDevelopment from '@assets/images/website-development.png'
import NewsSection from '@components/NewsSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="AirReal - 革新的なITソリューションで未来を創造">
  <section class="hero">
    <h1>革新的なITソリューションで未来を創造</h1>
    <p>AirRealは、最先端のテクノロジーを駆使して、お客様のビジネスの変革を支援します。</p>
    <a href="/services" class="cta-button">サービス一覧を見る</a>
  </section>

  <div class="content">
    <NewsSection />
    <section class="services">
      <div class="section-content">
        <div class="text-content">
          <h2>Services</h2>
          <ul>
            <li>クラウドインテグレーション</li>
            <li>AIとビッグデータ分析</li>
            <li>サイバーセキュリティ対策</li>
            <li>カスタムソフトウェア開発</li>
            <li>IoTソリューション</li>
          </ul>
        </div>
        <div class="image-content">
          <Image src={webSiteDevelopment} alt="Our Services" />
        </div>
      </div>
    </section>

    <section class="case-studies">
      <div class="section-content">
        <div class="image-content">
          <Image src={webDeveloper} alt="Case Studies" />
        </div>
        <div class="text-content">
          <h2>Case Studies</h2>
          <div class="case-study">
            <h3>ABCテクノロジー株式会社</h3>
            <p>AirRealのクラウドインテグレーションサービスにより、インフラコストを50%削減し、業務効率を大幅に向上しました。</p>
            <a href="" class="read-more">詳しく読む</a>
          </div>
          <div class="case-study">
            <h3>XYZ金融株式会社</h3>
            <p>AirRealのAIを活用した不正検知システムにより、不正取引を90%以上検出できるようになりました。</p>
            <a href="/case-studies/xyz-finance" class="read-more">詳しく読む</a>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <h2>Accelerate Innovation</h2>
      <p>お客様のビジネスの成長に向けて、AirRealがお手伝いします。</p>
      <a href="/contact" class="cta-button">お問い合わせ</a>
    </section>
  </div>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10rem;
  }
  .hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 4rem 0;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
  }

  .text-content {
    flex: 1;
  }

  .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .image-content img {
    width: 400px;
    height: auto;
  }

  .services ul {
    list-style-type: disc;
    margin-left: 2rem;
  }

  .case-study {
    margin-bottom: 2rem;
  }

  .case-study h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .read-more {
    display: inline-block;
    margin-top: 1rem;
    color: #0070c0;
  }

  .news ul {
    list-style-type: none;
    margin-left: 0;
  }

  .news li {
    margin-bottom: 1rem;
  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }
</style>
