---
import Layout from '@layouts/blogs/Layout.astro'
import { type Article, getNewsDetail, getNewsPosts } from '@library/microcms'
import '@styles/blog.css'
import { format } from 'date-fns'

export async function getStaticPaths() {
  const response = await getNewsPosts({ fields: ['id'] })
  return response.contents.map((content: Article) => ({
    params: {
      slug: content.id,
    },
  }))
}

//記事の詳細情報を取得
const { slug } = Astro.params
const news = await getNewsDetail(slug as string)
---

<Layout title="My first blog with Astro">
  <main class="container">
    <h1 class="title">{news.title}</h1>
    <p class="publishedAt">公開日時：{format(news.publishedAt, "yyyy-MM-dd")}</p>
    <div id="post" set:html={news.content}></div>
  </main>
</Layout>

<style is:global>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .blog-post-meta {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .blog-post-tag {
    width: fit-content;
    background-color: #ddd;
    padding: 4px 8px;
    font-size: .8rem;
    border-radius: 4px;
  }
  #post {
    width: 720px;
  }
  #post > figure img{
    max-width: 100%;
    height: auto;
  }
</style>