---
import NewsPostSummary from '@components/NewsPostSummary.astro'
import Layout from '@layouts/blogs/Layout.astro'
import { type Article, getNewsPosts } from '@library/microcms'

const response = await getNewsPosts({
  fields: ['id', 'title', 'publishedAt', 'overview', 'content', 'eyecatch', 'category', 'tags'],
})

const posts = response.contents.map((post: Article) => ({
  slug: post.id,
  title: post.title,
  date: post.publishedAt,
  overview: post.overview,
  eyecatch: post.eyecatch.url,
  category: post.category.name,
  tags: post.tags,
}))
---

<Layout title="My first blog with Astro">
  <main>
    <h1>News Posts</h1>
    {posts.map((post) => (
      <NewsPostSummary  {...post} />
    ))}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 80ch;
  }
</style>