---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="AirReal - 空気品質モニタリングのリーディングカンパニー" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/about">会社概要</a></li>
        <li><a href="/products">製品</a></li>
				<li><a href="/blogs">ブログ</a></li>
        <li><a href="/contact">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <slot />
  </main>

  <footer>
    <p>&copy; 2023 AirReal. All rights reserved.</p>
  </footer>
</body>
</html>

<style is:global>
  /* ここにグローバルスタイルを記述 */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 1rem;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

	.cta-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
  }

  footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #333;
		color: white;
		text-align: center;
  }
</style>
